header
    height: 10vh
    font-size: 1vw
    .nav
        width: 55%
        height: 100%
        a
            text-decoration: none
            position: relative
            padding: 15px 0px
            font-weight: 500
            text-transform: uppercase
            color: $gray
            &:hover
                color: $gray
            &:before
                content: ""
                position: absolute
                bottom: 0
                left: 0
                width: 0
                height: 2px
                background-color: red
                transition: width 0.3s ease
            &:hover:before
                width: 100%
select
    border: none
    font-weight: 500
    text-transform: uppercase
    color: $gray
    text-align: center

.logo
    font-size: 1.7vw
    text-decoration: none

.modal1
    background-color: $red
    &:hover
        background-color: #660a0a

@media screen and (max-width: 425px)
    header
        height: 10vh
        font-size: 1.2vw
        background-color: white
        .logo
            font-size: 4vw
        .nav
            position: fixed
            top: 0
            right: -100%
            width: 98%
            font-size: 4vw
            height: 100vh
            flex-direction: column
            align-items: start !important
            justify-content: center
            z-index: 1
            background-color: white
            a
                margin-left: 5vw
    button
        height: 60%
        

@media screen and (min-width: 768px) and (max-width: 1023px)
    header
        height: 10vh
        font-size: 1.2vw
        background-color: white
        .logo
            font-size: 4vw
        .nav
            position: fixed
            top: 0
            right: -100%
            width: 50%
            font-size: 2vw
            height: 100vh
            overflow: hidden
            flex-direction: column
            align-items: start !important
            justify-content: center
            z-index: 1
            background-color: white
            a
                margin-left: 5vw
                padding: 20px
    select
        margin-left: 2vw
        padding: 20px
    .options-div
        width: 25%