
//section 1 
.section1
    height: 90vh
    background-color: $bg-gray
    div
        width: 35%
        font-size: 1.2vw
        h1
            font-family: "amatic"
        button
            width: 45%
            font-size: 1.3vw
            i
                font-size: 2vw
                color: $red
.minisect1
    width: 100%
    height: 100vh
    position: fixed
    top: 0
    overflow-y: hidden
    background-color: #000000d5
    display: none
    i:hover
        cursor: pointer
//section 2 
.section2
    height: 132vh
    .sec2-div
        height: 80%
        .sect2-minidiv1
            width: 55%
            height: 100%
            background-image: url("../../public/img/about.jpg")
            .booknow
                width: 80%
                height: 20%
                background-color: white
        .sect2-minidiv2
            width: 40%
            height: 100%
            li
                list-style: none
            .img-ytb
                height: 45%
                background-color: red
                background-image: url("../../public/img/about-2.jpg")
                background-size: cover
                i
                    font-size: 4vw
                    border-radius: 100%
//section 3 
.section3
    height: 60vh
    .red-card
        height: 90%
        width: 30%
        .learn-more
            background-color: #c45757ee
    .three-card
        height: 100%
        width: 60%
        .card
            width: 30%
            padding: 1vw
//section 4 
.section4
    height: 40vh
    .hero
        height: 100%
        background-image: url("../../public/img/stats-bg.jpg")
        background-size: cover
        background-position: center
        filter: brightness(0.3)
        background-attachment: fixed
    .number
        flex-wrap: wrap
        .numbers
            width: 25%
#menu
    height: 180vh
    .items-link
        height: 5%
        .links
            height: 100%
            width: 20%
            button
                background-color: transparent
                border: none
                text-decoration: none
                position: relative

                color: $gray
                font-size: 1.5vw
                &:before
                    content: ""
                    position: absolute
                    bottom: 0
                    left: 10%
                    width: 80%
                    height: 2px
                    background-color: darkgray
                &:hover:before
                    transition: width 0.3s ease
                    background-color: red
                    width: 80%
                &:focus
                    color: $red
                &:focus:before
                    background-color: red
    .items-tab
        .starter-table,
        .breakfeast-table,
        .lunch-table,
        .dinner-table
            width: 80%
            height: 140vh
            display: none
            .items-list
                height: 90%
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: space-around
                .item
                    height: 48%
                    width: 30%
                    display: flex
                    align-items: center
                    justify-content: space-around
                    flex-direction: column
                    img
                        height: 60%

        .starter-table
            display: block
#events
    height: 110vh
.slider-parent
    width: 100%
    height: 80vh
    overflow-x: hidden
.slider
    width: 31vw
    border-radius: 10px
    position: relative
.slides
    height: 79vh
    display: flex
    width: calc(500% + 30vw)
    display: flex
    transition: transform 2s
    input
        display: none
    .first
        margin-left: -20%
.slide
    transition: 2s
    width: 18%
    margin-left: 3vw
    border: 1px solid white

.navigation-manual
    height: 10vh
    display: flex
    justify-content: center
    align-items: center
.manual-btn
    border: 2px solid $red
    padding: 5px
    border-radius: 10px
    cursor: pointer
    transition: 1s
    &:not(:last-child)
        margin-right: 40px
    &:hover
        background: $red
    &:focus

        background: $red

#radio1
    &:checked
        & ~ .first
            margin-left: 0
#radio2
    &:checked
        & ~ .first
            margin-left: -20%
#radio3
    &:checked
        & ~ .first
            margin-left: -40%
#radio4
    &:checked
        & ~ .first
            margin-left: -60%
#radio5
    &:checked
        & ~ .first
            margin-left: -80%

.thirddiv
    .hero
        background-image: url("../../public/img/events-3.jpg")
        background-size: cover
        background-position: left
        filter: brightness(0.3)
        height: 100%
.seconddiv
    .hero
        background-image: url("../../public/img/events-2.jpg")
        background-size: cover
        background-position: left
        filter: brightness(0.3)
        height: 100%
.firstdiv
    .hero
        background-image: url("../../public/img/events-1.jpg")
        background-size: cover
        background-position: left
        filter: brightness(0.3)
        height: 100%
.chefs
    height: 110vh
    .beige
        color: #b9b7ae
    .chef-social-media
        top: 10%
        right: -20%
        border-radius: 20px
        background-color: #b7b09289
        i
            padding: 2vh 1vw
            color: #eaecb1bc
    .card
        overflow: hidden
        &:hover
            & .chef-social-media
                transition: 0.5s
                right: 5%
.bookingtbl
    height: 100vh
    img
        width: 30%
        height: 100%
.booking-area
    height: 60vh
    .bookinginput
        width: 60%
        height: 70%
        .timing
            flex-wrap: wrap
            height: 30%
            input
                width: 28%
                padding: 0.5vw

        textarea
            width: 96%
            outline: 1 px solid beige
            border-radius: 8px
.contactus
    height: 190vh
.contacting
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-around
.contacting-div
    height: 20vh
    width: 48%
.dm-us
    width: 100%
    height: 80vh
    margin-top: 3vh
    box-shadow: 5px 5px #d3cece
    .texting
        flex-wrap: wrap
        height: 20vh
        input
            width: 38vw
            padding: 0.5vw
            border: 1px solid black
        .subject
            width: 80vw
            padding: 0.5vw
            border: 1px solid black

    textarea
        width: 80vw
        border: 1px solid black

.modal
    display: none
    position: fixed
    z-index: 1
    padding-top: 100px
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,0.4)
.modal-content
    background-color: rgba(251, 251, 251, 0.508)
    margin: auto
    padding: 20px
    border: 1px solid #888
    width: 25%
    .inputmodal
        width: 300px
        padding: 5px
.close
    color: #aaaaa
    left: 100%
    font-size: 28px
    font-weight: bold

.close:hover,
.close:focus
    color: #000
    text-decoration: none
    cursor: pointer

/////////////////////////mobiiiiiiile/////////////////////
@media screen and (max-width: 426px)

    .section1
        img
            width: 50%

        div
            width: 90%
            font-size: 3vw
            h1
                width: 80%
                text-align: center
            button
                width: 35%
                font-size: 3vw
                height: 6vh
                i
                    font-size: 4vw
                    color: $red
    .minisect1
        background-color: #000000f8
        display: none
        i:hover
            cursor: pointer
        iframe
            width: 96%
            height: 240px
    .section2
        height: 220vh
        padding: 4vh

        .sec2-div
            height: 90%
            width: 100%
            margin: 0 !important
            flex-direction: column
            .sect2-minidiv1

                width: 100%
                height: 50%
                background-image: url("../../public/img/about.jpg")
                background-position: center
                .booknow
                    width: 80%
                    height: 20%
                    background-color: white
            .sect2-minidiv2
                width: 100%
                height: 90%

                li
                    list-style: none
                .img-ytb
                    background-image: url("../../public/img/about-2.jpg")
                    background-size: cover
                    height: 100%
                    i
                        font-size: 8vw
                        border-radius: 100%
    .section3
        height: 180vh
        font-size: 3.5vw
        padding: 5vh
        .red-card
            height: 60%
            width: 100%
            .learn-more
                padding: 2vw !important
                height: 4vh
                background-color: #c45757ee
        .three-card
            height: 100%
            width: 100%
            .card
                margin-top: 1vh
                height: 90%
                width: 100%
    .section4
        height: 120vh
        .hero
            height: 100%
            background-image: url("../../public/img/stats-bg.jpg")
            background-size: cover
            background-position: center
            filter: brightness(0.3)
            background-attachment: fixed
        .number
            flex-wrap: wrap
            .numbers
                width: 100%
                font-size: 5vw
    #menu
        height: 430vh
        .items-link
            height: 5%
            .links
                height: 100%
                width: 40%
                button
                    background-color: transparent
                    border: none
                    text-decoration: none
                    position: relative
                    font-size: 3vw
                    color: $gray
                    &:before
                        content: ""
                        position: absolute
                        bottom: 0
                        left: 10%
                        width: 80%
                        height: 2px
                        background-color: darkgray
                    &:hover:before
                        transition: width 0.3s ease
                        background-color: red
                        width: 80%
                    &:focus:before
                        background-color: red
        .items-tab
            .starter-table,
            .breakfeast-table,
            .lunch-table,
            .dinner-table
                width: 80%
                height: 140vh
                display: none
                .items-list
                    height: 90%
                    display: flex
                    flex-wrap: wrap
                    align-items: center
                    justify-content: space-around
                    .item
                        height: 48%
                        width: 100%
                        margin-top: 2vh
                        display: flex
                        align-items: center
                        justify-content: space-around
                        flex-direction: column
                        img
                            height: 60%
                        &:hover
                            background-color: #463f3fd0
                            border-radius: 30px
            .starter-table
                display: block
    #events
        height: 120vh
        .slider-parent
            width: 100%
            height: 80vh
            overflow-x: hidden
        .slider
            width: 100vw
            border-radius: 10px
            position: relative
        .slides
            height: 79vh
            display: flex
            width: calc(500% + 30vw)
            display: flex
            transition: transform 2s
            input
                display: none
            .first
                margin-left: -20%
        .slide
            transition: 2s
            width: 18.85%
            margin-left: 3vw
            border: 1px solid white
    #radio1
        &:checked
        & ~ .second
            margin-left: 0
    #radio2
        &:checked
            & ~ .second
                margin-left: 0%
    #radio3
        &:checked
            & ~ .second
                margin-left: -19.4%
    #radio4
        &:checked
            & ~ .second
                margin-left: -38.82%
    #radio5
        &:checked
            & ~ .second
                margin-left: -0%
    .chefs
        height: 270vh
    .bookingtbl
        height: 230vh
        img
            width: 100%
            height: 35%
        .booking-area
            height: 210vh
            .bookinginput
                width: 100%
                height: 70%
                .timing
                    flex-wrap: wrap
                    height: 40%
                    input
                        width: 90%
                        padding: 1.8vw
                textarea
                    width: 90%
                    height: 30%
                .booking-a-table
                    height: 6vh
    .contacting
        display: block
        margin-top: 5px
        .contacting-div
            margin-bottom: 5px
            width: 90vw
    .btn
        height: 50px
        margin-top: 5px
        margin-bottom: 10px
    .dm-us
        height: 320px

    .modal
        display: none
        position: fixed
        z-index: 1
        padding-top: 100px
        left: 0
        top: 0
        width: 100%
        height: 100%
        overflow: auto
        background-color: rgb(0,0,0)
        background-color: rgba(0,0,0,0.4)
        .modal-content
            background-color: rgba(251, 251, 251, 0.508)
            margin: auto
            padding: 20px
            border: 1px solid #888
            width: 70%
            height: 45vh
            .inputmodal
                width: 250px
                margin-bottom: 10px
                margin-top: 5px
           
            
            .close
                color: #aaaaa
                margin-left: 90%
                font-size: 28px
                font-weight: bold
                margin-top: 0

        .close:hover,
        .close:focus
            color: #000
            text-decoration: none
            cursor: pointer

//////////////////////////////// tablet ///////////////////////////
@media screen and (min-width: 768px) and (max-width: 1023px)
    .section1
        height: 150vh
        img
            width: 60%

        div
            width: 90%
            font-size: 2.5vw
            text-align: center
            h1
                width: 60%
            button
                width: 35%
                font-size: 3vw
                i
                    font-size: 4vw
                    color: $red
    .login
        display: block
    .minisect1
        background-color: #000000f8
        display: none
    i:hover
        cursor: pointer
    iframe
        width: 96%
        height: 480px
    .section2
        height: 250vh

        .sec2-div
            height: 90%
            margin-top: 5vh !important
            width: 90%
            flex-direction: column
            .sect2-minidiv1
                width: 100%
                height: 90%
                background-image: url("../../public/img/about.jpg")
                .booknow
                    width: 80%
                    height: 20%
                    background-color: white
            .sect2-minidiv2
                width: 100%
                height: 100%
                li
                    list-style: none
                .img-ytb
                    height: 70vh
                    background-color: red
                    background-image: url("../../public/img/about-2.jpg")
                    background-size: cover
                    i
                        font-size: 6vw
                        border-radius: 100%
    .section3
        height: 140vh
        padding: 5vw
        font-size: 2vw
        .red-card
            height: 50%
            width: 95%
            padding: 2vw
            .learn-more
                background-color: #c45757ee
        .three-card
            height: 100%
            width: 95%
            .card
                margin-top: 1vh
                height: 90%
                width: 100%
    .section4
        height: 80vh
        .hero
            height: 100%
            background-image: url("../../public/img/stats-bg.jpg")
            background-size: cover
            background-position: center
            filter: brightness(0.3)
            background-attachment: fixed
        .number
            flex-wrap: wrap
            .numbers
                width: 50%
                font-size: 3.5vw
    #menu
        height: 480vh
        .items-link
            height: 5%
            .links
                height: 100%
                width: 40%
                button
                    background-color: transparent
                    border: none
                    text-decoration: none
                    position: relative
                    font-size: 3vw
                    color: $gray
                    &:before
                        content: ""
                        position: absolute
                        bottom: 0
                        left: 10%
                        width: 80%
                        height: 2px
                        background-color: darkgray
                    &:hover:before
                        transition: width 0.3s ease
                        background-color: red
                        width: 80%
                    &:focus:before
                        background-color: red
        .items-tab
            .starter-table,
            .breakfeast-table,
            .lunch-table,
            .dinner-table
                width: 80%
                height: 140vh
                display: none
                .items-list
                    height: 90%
                    display: flex
                    flex-wrap: wrap
                    align-items: center
                    justify-content: space-around
                    .item
                        height: 48%
                        width: 100%
                        margin-top: 5vh
                        margin-bottom: 2vh
                        display: flex
                        align-items: center
                        justify-content: space-around
                        flex-direction: column
                        ma
                        img
                            height: 85%

            .starter-table
                display: block
    #events
        height: 120vh
        .slider-parent
            width: 100%
            height: 80vh
            overflow-x: hidden
        .slider
            width: 100vw
            border-radius: 10px
            position: relative
        .slides
            height: 79vh
            display: flex
            width: calc(500% + 30vw)
            display: flex
            transition: transform 2s
            input
                display: none
            .first
                margin-left: -20%
        .slide
            transition: 2s
            width: 18.85%
            margin-left: 3vw
            border: 1px solid white
    #radio1
        &:checked
        & ~ .second
            margin-left: 0
    #radio2
        &:checked
            & ~ .second
                margin-left: 0%
    #radio3
        &:checked
            & ~ .second
                margin-left: -19.4%
    #radio4
        &:checked
            & ~ .second
                margin-left: -38.82%
    #radio5
        &:checked
            & ~ .second
                margin-left: -0%
    .chefs
        height: 180vh

    .bookingtbl
        height: 180vh
        img
            width: 100%
            height: 40%
        .booking-area
            height: 160vh
            .bookinginput
                width: 100%
                height: 70%
                .timing
                    flex-wrap: wrap
                    height: 40%
                    input
                        width: 40%
                        padding: 1.5vw
                textarea
                    width: 90%
                    height: 40%
    .dm-us
        height: 320px
        margin-bottom: 50px

    .modal
        display: none
        position: fixed
        z-index: 1
        padding-top: 100px
        left: 0
        top: 0
        width: 100%
        height: 100%
        overflow: auto
        background-color: rgb(0,0,0)
        background-color: rgba(0,0,0,0.4)
    .modal-content
        background-color: rgba(251, 251, 251, 0.508)
        margin: auto
        padding: 20px
        border: 1px solid #888
        width: 40%
        height: 50vh
        .inputmodal
            width: 250px
            margin-bottom: 10px
            padding: 10px
        .btnmodal
            margin-top: 20px


    .close
        color: #aaaaa
        left: 100%
        font-size: 28px
        font-weight: bold
        margin-left: 30vw

    .close:hover,
    .close:focus
        color: #000
        text-decoration: none
        cursor: pointer
